<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title th:text="${title}"></title>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
    <div class="container mt-5">
        <div th:each="el : ${posts}" class = "card">
            <div class="card-body">
                <h5 th:text="${el.title}"></h5>
                <p th:text="${el.anons}"></p>
                <p th:text="${el.full_text}"></p>
                <a th:href="'/blog/post/' + ${el.id} + '/edit'" class="btn btn-light">Редактировать</a><br>
                <form th:action="'/blog/post/' + ${el.id} + '/delete'" method="post">
                    <button type="submit" th:href="'/blog/post/' + ${el.id} + '/delete'" class="btn btn-light">Удалить</button><br>
                </form>
                <a th:href="'/blog/post/' + ${el.id} + '/comments'" class="btn btn-light">Комментарии</a><br>
                <a th:href="'/blog/post/' + ${el.id} + '/comment/new'" class="btn btn-light">Написать комметарий</a>
            </div>
        </div>
    </div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>